/* .navbar-brand {
  margin-left: 120px;
  margin-top: 20px;
}

#navbarSupportedContent {
  margin-top: 20px;
  margin-right: 135px;
}

#navbarSupportedContent a {
  color: black;
  font-size: 18px;
  font-size: 18px;
}
#navbarSupportedContent ul li {
  padding-left: 20px;
} */
